<!DOCTYPE html>
<html>
  <head>
    <title>StereophonicCumulonimbus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Karla:400,700i" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('cloud3.png') %>"
      window.playButtonURL = "<%= image_url('play_button.png') %>"
      window.littlePlayButtonUrl = "<%= image_url('little_play_button.png') %>"
      window.pauseButtonUrl = "<%= image_url('pause_button.png') %>"
      window.nextButtonUrl = "<%= image_url('next.png') %>"
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
